<div class="row mb-5 mt-5">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header card-header-primary text-center">
            <h3 class="card-title mt-0">Habitaciones</h3>
            <h5 class="card-category">Registro y estado de las habitaciones</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead class="">
                        <th>Número de habitación</th>
                        <th>Capacidad de huéspedes</th>
                        <th>Estado</th>
                    </thead>
                    <tbody>
                        <% rooms.forEach(function(room){ %>
                            <tr>
                                <td><%= room.roomNumber %></td>
                                <td><%= room.capacity %></td>
                                <td>
                                    <% if(room.occupancyState == true){ %>
                                        <span class="text-danger font-weight-bold">Ocupada</span>
                                    <% } else { %>
                                        <span class="text-success font-weight-bold">Desocupada</span>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>