<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing charts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<body>
    <script src="/socket.io/socket.io.js"></script>

    <script>

        let socket = io();
        const towelByGuestEndPoint = 'http://localhost:3000/towelConsumption/guest/';
        const waterByGuestEndPoint = 'http://localhost:3000/waterConsumption/guest/';
        const towelByDayEndPoint = 'http://localhost:3000/towelConsumption/day/';

        window.addEventListener('load', async function () {

            try {

                let towelsByGuestJsonData = {};
                let waterByGuestJsonData = {};
                let towelsByDayJsonData = {};

                const [
                    towelByGuestResponse, 
                    waterByGuestResponse, 
                    towelByDayResponse
                ] = await Promise.all([
                    fetch(towelByGuestEndPoint),
                    fetch(waterByGuestEndPoint),
                    fetch(towelByDayEndPoint)
                ]);

                if(towelByGuestResponse.status == 200) {
                    towelsByGuestJsonData = await towelByGuestResponse.json();
                    loadTowelsXAgeChart(towelsByGuestJsonData);
                    loadTowelsXCountryChart(towelsByGuestJsonData);
                }
                if(waterByGuestResponse.status == 200) {
                    waterByGuestJsonData = await waterByGuestResponse.json();
                    loadWaterXAgeChart(waterByGuestJsonData);
                    loadWaterXCountryChart(waterByGuestJsonData);
                }
                if(towelByDayResponse.status == 200) {
                    towelsByDayJsonData = await towelByDayResponse.json();
                    loadTowelsXDayChart(towelsByDayJsonData);
                }

            } catch (error) { console.log(`Error: ${error}`); }
        }, false);

        const getAgeIndex = (age) => {
            let index = 0;
            if(age < 20) index = 0;
            else if (age >= 20 && age <= 30) index = 1;
            else if(age >= 31 && age <= 40) index = 2;
            else if(age >= 41 && age <= 50) index = 3;
            else if(age >= 51 && age <= 60) index = 4;
            else if(age >= 61 && age <= 70) index = 5;
            else if(age > 70) index = 6;
            return index;
        };

        const getElementIndex = (element, chart) => {
            let index = 0;
            for (const label of chart.data.labels) {
                if(element == label) return index; 
                index ++;
            }
            return -1;
        };

    </script>

    <div style="width: 50%; height: 25%;">
        <canvas id="towelsXAge"></canvas>
        <canvas id="towelsXCountry"></canvas>
        <canvas id="waterXAge"></canvas>
        <canvas id="waterXCountry"></canvas>
        <canvas id="towelsXDay"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="./charts/towelsXAge.js"></script>
    <script src="./charts/towelsXCountry.js"></script>
    <script src="./charts/waterXAge.js"></script>
    <script src="./charts/waterXCountry.js"></script>
    <script src="./charts/towelsXDay.js"></script>
</body>
</html>