<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_header') %>
</head>

<body>
    <div class="page-header header-filter" style="background-image: url('../dashboard/assets/img/bg3.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                    <div class="card card-login" style="background-color: rgb(255, 255, 255, 0.93);">
                        <form class="form" method="POST" action="/login/">
                            <div class="card-header card-header-primary text-center">
                                <h3>Ingreso</h3>
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-8 text-center">
                                        <img src="./dashboard/assets/img/logo-blue.png" class="logo-normal img-fluid" width="300" alt="">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                            </span>
                                            </div>
                                            <input type="text" class="form-control mb-3 mr-3" name="userName" placeholder="Nombre de usuario...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-8 text-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control mt-3 mb-3 mr-3" name="password" placeholder="Contraseña...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h5 class="text-danger font-weight-bold"><%= messages.error %></h5> 
                                        <button type="submit" class="mt-3 btn btn-success">Comenzar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <%- include('../partials/_scripts') %>
</body>

</html>