<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/_header') %>
</head>

<body>

    <style>
        body {
            background-image: url("../dashboard/assets/img/bg-water.jpg");
            background-size: cover; 
            background-position: top center;
            background-attachment: fixed;
        }
    </style>

    <div class="page-header header-filter">
        <div class="container">
            <div class="row mt-5 mb-5 text-center">
                <div class="col-lg-12 col-md-8 ml-auto mr-auto">
                    <img class="img-fluid img-thumbnail" src="../dashboard/assets/img/infograma.png" alt="">
                </div>
            </div>
        </div>
    </div>
  <%- include('../../partials/_scripts') %>
</body>

</html>